<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workload Summary</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Workload Summary</h1>
    {% for table in tables %}
        {{ table|safe }}
    {% endfor %}
    <img src="data:image/png;base64,{{ plot_url }}" alt="Workload Summary Plot">
    <a href="{{ url_for('index') }}">Back</a>
</body>
</html>

